*{
    font-family: "brandon-grotesque",Arial,Helvetica,Geneva,sans-serif;
    padding: 0px;
    margin: 0px;
    /* background-color: pink; */
}
.underscores button{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: relative;
}
button{
  border: 1px solid blue;
  background-color:white;
  padding: 0px 0px 0px 0px;
  
}
.title{
  padding: 35px 0px 0px 420px;
  font-size: 1.6rem;
  font-weight: bold;

}
.title h1{
  text-align:left;
 margin: 0px 0px 0px 0px;
}
.title span{
  display: inline;
  float: right;
  margin: -44px 802px 0px 0px;
}
.underscores{
  padding: 4px 0px 0px -8px;
  font-size: 1.1rem;
}
.post img{
    overflow: hidden;
    margin: 111px 1px 1px 100px;;
    width: 716px; 
    background-color: #fff;
    padding: 0 10px;
    /* width: 100%; */
    max-width: 1050px;
}
.post_text{
    padding:  47px 6px 9px 16px ;
    margin: 30px 0px 0px 90px;
    /* border:  2px red solid; */
    width: 760px;;
}
.post_text button{
  left: 0%;
  position: relative;
  padding: 0px 0px 0px 0px;
  margin: 31px 24px 0px 41px;
  border: 2px blue solid;
  width:80px;
  height:35px;
}
.post_text button a{
  text-decoration: none;
}
.post_text hr{
  margin: 22px 0px 4px 0px;
}
.response {
  padding: 5px  0px 0px 69px
}
.response li {
  list-style: none;

  margin:0px 0px 0px 10px;
}

.response ul {
  display: flex;
  flex-flow: row wrap;  
}
p{
  padding: 70px 0px 0px 137px;
  margin: 0px 0px 0px 0px;
}
.comment-element{
  margin: 24px 0px 0px 111px;
  width:38%;
  padding:12px 0px 15px 15px;



}
.comment-profle{
  margin: 10px 0px 15px 0px;
  font-size: 0.8rem;
}
.comment-profle a{
  text-decoration: none;
  font-size: 1rem;
}
.more_comment{
  margin: 12px 0px 22px 0px;
}
.more_comment a{
 text-decoration: none;
}
.comment-element hr{
  
  margin: 22px 0px 22px 0px;

}
.main-container{
  display: flex;
  flex-direction: row;
}
.others{
  padding: 69px 0px 0px 0px ;
  margin: 121px 0px 0px 160px ;
}
.others a{
  text-decoration: none;
}
