<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="delete_blog.css" />
    <title>Delete Blog</title>
  </head>
  <body>
    <div class="warning-container">
      <h1>Warning</h1>
      <div class="flash_message-delete">
        <form action="" method="post"></form>
         <h2>Do You really wanna delete this blog?</h2>
      </div>
      <div class="response">
        <button><a href=""></a>No</button>
        <input type="submit" value="Yes" />
      </div>
    </div>
  </body>
</html>
