
{% load static %} 
{% block css%}

<link rel="stylesheet" href="{% static 'style/footer.css' %}"/>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>  
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&display=swap"
  rel="stylesheet"/>
{% endblock %} 
{% block body %} 


<div class="footer-contaner">
    <h3>Blogme</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laborum, dolorum consequatur nisi
    inventore maxime, necessitatibus deleniti, eos ducimus itaque quisquam. Mollitia fugit dolores
    similique
    consectetur eum at corrupti, assumenda veritatis perferendis neque delectus eveniet illo debitis
    minus
    ullam quaerat cupiditate sed deleniti commodi minima aspernatur possimus! Voluptas iusto labore
    dolor
    est beatae odio dignissimos provident optio consectetur aut cum quia, vero, ab recusandae eius quo.
</div>
</footer>
  {% endblock %}
